

.productBox{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgb(193, 162, 222);
}

.productBox_img{
    width: 100%;
    height: 100%;
}